.vertical{
    padding: 50px 0;
}

.container{
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;

}

.vertical__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px -22.5px;
}

.vertical__column{
    padding: 0px 22.5px 30px;
}

.vertical__item{
    width: 270px;
    height: 140px;
    position: relative;
   
    color: white;
    border-radius: 5px;

}

.vertical__image{
    height: 182px;
    width: 140px;
    top: -47px;
    left: 0;
    position: absolute;
}

.vertical__photo{
    width: 100%;
    height: 100%;
    object-fit: contain;

    
} 

.vertical__text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: right;
    font-size: 12px;
    padding: 11px 11px 3px 0;

}

.vertical__label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: right;
    font-size: 9px;
    color:rgba(255, 255, 255, 0.5);
    padding-right: 11px;
}

.america{
    background:linear-gradient(to top left, #4568DC, #B06AB3);
}

.man{
    background:linear-gradient(to top left, #e52d27, #b31217);
}

.widow{
    background:linear-gradient(to top left, #000, #61045F);
}

.spider{
    background:linear-gradient(to top left, #e52d27, #000);
}

.spider .vertical__image {
    top: 0;
}
@media screen and (max-width: 1000px) {

    .container{
        max-width:650px;
    }

    .vertical__row{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    
    .vertical__column{
        padding: 0px 22.5px 50px;
        flex-basis: 40%;
    }
}

@media screen and (max-width: 600px) {

    .vertical__row{
        justify-content: center;
    }
    
    
}